{% extends 'budget/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container grey darken-3">
    <div class="col s12 m4 l3 user-section-nagative-margin">

        <div class="col s12 center-align">
            <img class="responsive-img circle z-depth" width="150" src="{{ user.profile.image.url }}" alt>
            <div>
                <h2>{{ user.username }}</h2>
                <p>{{ user.email }}</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="clo s6 center-align">
            <h5 style="color: white;">Total Projects</h5>
            <h5 class="m-0">
                <a href="{% url 'budget-home' %}">number of projects</a>
            </h5>
            </div>
            <div class="clo s6 center-align">
                <h5 style="color: white;">Total Transactions</h5>
                <h5 class="m-0">
                    <h4>total transactions</h4>
                </h5>
            </div>
        </div>
    </div>


{% endblock content %}