{% extends 'budget/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container grey darken-3">
        <div class="row">
            <div class="col s12 center"><h3 style="color: white;">Join Today</h3></div>
        </div>
        
        <div class="section" style="padding: 20px;">
            <form method="POST">
                {% csrf_token %}

                <div class="section">
                    <!-- welcome text should be display here -->
                    {{ form|crispy }}
                </div>
                <div class="section">
                    <button class="btn waves-effect waves-light teal darken-2" type="submit" name="action">Register Now
                        <i class="material-icons right">person_add</i>
                    </button>
                </div>
            </form>

            <div class="">
                <smal>
                    Already Have An Account?! 
                </smal>
                    <!-- Modal Trigger -->
                <a class="ml-2" href="{% url 'login' %}">Sign In</a>

                    <!-- Modal Structure -->
                <div id="loginModal" class="modal">

                    <div class="modal-content">
                        <h4>Log In</h4>
                        <p>Log in fields</p>
                    </div>

                    <div class="modal-footer">
                        <button class="btn login" type="submit" name="action">
                            Log In
                            <i class="material-icons right login-icon">perm_identity</i>
                        </button>
                        <button class="btn login" type="submit" name="action">
                            Cancel
                            <i class="material-icons right login-icon">perm_identity</i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        
    <div>

{% endblock content %}