@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    font-family: 'Montserrat';
    background-color: #222629;
}

/* General */
.bold {
    font-weight: bold;
}

.row {
    margin: 0!important;
}


.section-projects {
    padding: 10px;
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 8px;
}

/* project list (no project) */
.noproject-wrapper {
    margin-top: 50px;
    padding: 80px 0px;
    border: 6px dashed #9e9e9e;
}

.noproject-wrapper h3 {
    padding: 10px;
    margin-bottom: 50px;
}

/* project add view */
form ul li.category {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    margin-right: 5px;
}

.btn.login {
    color: black;
    margin-right: 10px;
    background-color: #7cb342;
}

.btn.visit-btn {
    background-color: #86c232;
}

/* project detail statics */
.section-stats h1 {
    font-size: 4vw;
    margin: 15px 0px;
}

@media(max-width: 992px){
    .section-stats h1 {
        font-size: calc(16px + 6vw);
    }
}

/* project details expenses */
.section-expenses button {
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, .25);
    background-color: #6FCF97;
}
.section-expenses .expense {
    font-size: 16px;    
    border-radius: 0;
    margin: 0;
}
.section-expenses .expense .category {
    font-size: 13px;
}
.section-expenses li:nth-child(even) .expense {
    background-color: #F2F2F2;
}

.section-expenses .close-icon:hover {
    cursor: pointer;
}

/* navbar */
.nav-wrapper {
    padding-left: 20px;
    background-color: #61892f;
}

/* card panel */
.card-panel.background-color {
    background-color: #373b3e;
    color: white;
}
.text-card-color {
    color: #61892F;
}

/* username font */
.text-username {
    color: white;
}

/* row head */
.text-username {
    display: inline-block;
}

/* add project button on top */

.add-top-project-btn {
    margin-right: 0px;
    display: inline-block;
    padding-top: 42px;
}

/* alert for material */

.materialert{
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}
.materialert .close-alert{
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}
.materialert.info{
    background-color: #039be5;
    color: #fff;
}
.materialert.success{
    background-color: #2e7d32;
    color: #fff;
}
.materialert.error{
    background-color: #c62828;
    color: #fff;
}
.materialert.danger{
    background-color: #c62828;
    color: #fff;
}
.materialert.warning{
    background-color: #fbc02d;
    color: #fff;
}