{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>Budget Application - {{ title }}</title>
    {% else %}
        <title>Budget Application</title>
    {% endif %}
     
    <link rel = "stylesheet"href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <div class="row">
        <div class="col s12 m12 l12">
            <nav>
                <div class="nav-wrapper" content="width=full-width">
                    <a href="#" class="brand-logo-left">Accounting App</a>
                    <ul id="" class = "right hide-on-med-and-down">
                        <li class = "active"><a href = "{% url 'budget-home' %}">Projects</a></li>
                        <li><a href="{% url 'user-profile' %}">Profile</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <section class="section section-projects">

        {% if messages %}
            {% for message in messages %}

                <div class="materialert success">
		            <div class="material-icons">check</div>
		                {{ message }}
		        </div>
                
            {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock content %}
    
    </section>

    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>