{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>Budget Application - {{ title }}</title>
    {% else %}
    <title>Budget Application</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
</head>

<body>

    {% block content %}

    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

</html>