{% extends 'budget/base.html' %}

{% block content %}

    <div class="row-head">
        <div class="col s12 l3">
            <h3 class="text-username">My Projects</h3>
            <ul class="right add-top-project-btn">
                <li>
                    <a href="{% url 'add-project' %}">
                        <button class="btn waves-effect right modal-trigger" >
                            <i class="material-icons white-text left">add_circle</i>
                            Add Project
                        </button>
                    </a>
                </li>
            </ul>
    </div>
    <hr>

    <div class="row">
        {% for project in projects %}

            <div class="col s12 l3">
                <div class="card-panel background-color">
                    <strong class="text-card-color">{{ project.author }}</strong>
                    <h3>{{ project.name }}</h3>
                    <p class="text-card-color">Created on {{ project.date_created|date:"F d, Y" }}</p>
                    <p class="text-card-color">{{ project.description }}</p>
                    <a href="#" class="btn visit-btn">Visit</a>
                </div>
            </div>

        {% empty %}

            <div class="noproject-wrapper center">
                <h3 class="grey-text">Sorry, you don't have any projects yet!</h3>
                <button class="btn waves-effect center modal-trigger add-project-button" href="#">
                    <i class="material-icons white-text left">add_circle</i>
                    <span>Add Project</span>
            </div>

        {% endfor %}

    </div>

{% endblock content %}