{% extends 'budget/base.html' %}

{% block content %}

    <section class="section section-projects">
        <div class="row">
            <button class="btn waves-effect right modal-trigger add-project-button" href="#">
                <i class="material-icons white-text left">add_circle</i>
                Add Project
            </button>
        </div>

    {% for project in projects %}
        <strong>{{ project.author }}</strong>
        <h1>{{ project.title }}</h1>
        <p>Created on {{ project.date_created }}</p>
        <p>{{ project.description }}</p>
    {% endfor %}
    </section>

{% endblock content %}
